<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	      version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
         <servlet-name>UserNameServlet</servlet-name>
         <servlet-class>com.test.UserNameServlet</servlet-class>
         <load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet-mapping>
       <servlet-name>UserNameServlet</servlet-name>
       <url-pattern>/UserNameServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
